
{% extends "layout.html" %}

{% block pageTitle %}
  HMPPS Digital Services - Change Password
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create a new password
      </h1>

      <p class="govuk-body">
        Your password must:
        <ul class="govuk-list govuk-list--bullet">
          <li>be between 9 and 30 characters in length</li>
          <li>only include letters and numbers</li>
        </ul>
      </p>

      {{ govukInput({
        label: {
          text: "New password",
          classes: 'govuk-label'
        },
        id: "enter-password",
        classes: "moj-password-reveal__input",
        name: "enter-password",
        type: "password"
      }) }}

      {{ govukInput({
        label: {
          text: "Confirm password",
          classes: 'govuk-label'
        },
        id: "confirm-password",
        classes: "moj-password-reveal__input",
        name: "confirm-password",
        type: "password"
      }) }}

      {{ govukButton({
        text: "Save password",
        href: "change-password-success"
      }) }}

<p><strong>THERE'S A HORRIBLE SPACING ISSUE HERE THAT NEEDS TO BE SORTED</strong></p>


    </div>
  </div>

{% endblock %}
