
{% extends "layout.html" %}

{% block pageTitle %}
  HMPPS Digital Services - Change Email Request
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      {{ govukInput({
        label: {
          text: "What is your new backup email address?",
          classes: 'govuk-label--l',
          isPageHeading: true
        },
          hint: {
            text: "You can use this address to receive your security code for 2-step verification sign in."
        },
        classes: "govuk-!-width-two-thirds",
        id: "new-backup-email",
        name: "new-backup-email",
        value: "john.doe@justice.gov.uk"
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "verify-email"
      }) }}

    </div>
  </div>

{% endblock %}
