
{% extends "layout.html" %}

{% block pageTitle %}
  HMPPS Digital Services - Reset Password
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Create a new password
      </h1>

      <p class="govuk-body">
        You need to enter your username or email address.
      </p>
      <p class="govuk-body">
        We will send you an email. Click on the link in the email to create your new password.
      </p>
      <p class="govuk-body">
        If you have entered your username and have not received an email to create a new password, you should enter your email address.
      </p>

      <form action="username-email-address" method="get">
        {{ govukInput({
          label: {
            text: "Username or email address",
            classes: "govuk-label"
          },
          classes: "govuk-!-width-two-thirds",
          id: "username-email-address",
          name: "username-email-address"
        }) }}
  
        {{ govukButton({
          text: "Continue",
          href: "what-happens-next"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}