
{% extends "layout.html" %}

{% block pageTitle %}
  HMPPS Digital Services - Verify Mobile Confirmation
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Mobile already verified
      </h1>
      <p class="govuk-body">
        Your mobile number has already been verified
      </p>
      
      {{ govukButton({
        text: "Ok, continue",
        href: "account-details"
      }) }}
    
    </div>
  </div>

{% endblock %}
