
{% extends "layout-auth.html" %}

{% block pageTitle %}
  HMPPS Digital Services - Password Changed Confirmation
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <div class="govuk-panel govuk-panel--confirmation incomplete" style="margin-bottom: 60px">
        <h1 class="govuk-panel__title">
          Your password has been changed
        </h1>
      </div>

      {{ govukButton({
        text: "Continue",
        href: "account-details"
      }) }}
    </div>

    </div>
  </div>

{% endblock %}
