
{% extends "layout-auth.html" %}

{% block pageTitle %}
  HMPPS Digital Services - Resend Verification Code
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Resend security code
      </h1>
      <p class="govuk-body">
        Emails sometimes take a few minutes to arrive. If you do not receive the email, you can resend it.
      </p>
      
      {{ govukButton({
        text: "Resend security code",
        href: "verify-email-sent"
      }) }}
    
    </div>
  </div>

{% endblock %}
