{% extends "layout-access-to-probation-signed-out.html" %}

{% block pageTitle %}
    Create a Password
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Create a Password
        </h1>

        <p>Before you can sign in to this service, you must create a password</p>
        <p>Your password must:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                be between 9 and 30 characters in length
            </li>
            <li>
                only include letters and numbers
            </li>
        </ul>

        {{ govukInput({
            label: {
            text: "Enter a new Password"
            },
            classes: "moj-password-reveal__input govuk-input--width-30",
            id: "first-name",
            name: "first-name",
            type: "password",
            autocomplete: "new-password"
            }) }}

        {{ govukInput({
            label: {
            text: "Confirm new Password"
            },
            classes: "moj-password-reveal__input govuk-input--width-30",
            id: "first-name",
            name: "first-name",
            type: "password",
            autocomplete: "new-password"
        }) }}

        {{ govukButton({
            text: "Save Password",
            href: "new-password-saved"
        }) }}


    </div>
</div>


{% endblock %}