
{% extends "layout-access-to-probation-signed-out.html" %}

{% block pageTitle %}
  External admin - Sign in
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ mojHeader({
    serviceLabel: {
      html: "<strong>HMPPS</strong> Access to probation"
    },
    navigation: {label: 'Account navigation', items:[
    ]}
  }) }}

{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Sign in
      </h1>
      <p>

      <form action="sign-in" method="get">

        {{ govukInput({
          label: {
            text: "Username or email address",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "username",
          name: "username"
        }) }}

        {{ govukInput({
          label: {
            text: "Password",
            classes: 'govuk-label'
          },
          id: "password",
          classes: "moj-password-reveal__input govuk-input--width-20",
          name: "password",
          type: "password"
        }) }}

        {{ govukButton({
          text: "Sign in",
          href: "select-task"
        }) }}

        <h2 class="govuk-heading-m">
          Problems signing in
        </h1>

        <p class="govuk-body">
          <a href="#" class="govuk-link">I have forgotten my password</a>
        </p>

        {{ govukDetails({
          summaryText: "Why won’t my password work?",
          html:
            "Your password is case sensitive which means you must enter your password exactly as you first created it. For example if your password is <strong>H3LloWorlD</strong> you must enter it exactly like that."
        }) }}
      
      </form>

      </p>
    </div>
  </div>

{% endblock %}
