
{% extends "layout-access-to-probation.html" %}

{% block pageTitle %}
  External admin - Change role
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Change the account roles
      </h1>

      {{ govukCheckboxes({
        idPrefix: "role",
        name: "role",
        hint: {
          text: "Select all that apply"
        },
        items: [
          {
            value: "normal",
            text: "Normal",
            hint: {
              text: "A description of the role"
            }
          },
          {
            value: "read-only",
            text: "Read only",
            hint: {
              text: "A slightly longer description of the role that pushes to newline. Read only access available."
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Confirm",
        classes: "govuk-!-margin-right-1",
        href: "PRIGGS"
      }) }}
      
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "PRIGGS"
      }) }}

    </div>
  </div>

{% endblock %}
