{% extends "layout-access-to-probation.html" %}

{% block pageTitle %}
  External admin - Create new user
{% endblock %}

{% block beforeContent %}	

  {{ govukBreadcrumbs({	
  items: [	
    {	
      text: "Home",	
      href: "select-task"	
    },	
    {	
      text: "Create a new user account"	
    }	
  ]	
  }) }}	

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Create a new user account
      </h1>

      {{ govukInput({
        label: {
          text: "First name"
        },
        classes: "govuk-!-width-three-quarters",
        id: "first-name",
        name: "first-name"
      }) }}
      
      {{ govukInput({
        label: {
          text: "Last name"
        },
        classes: "govuk-!-width-three-quarters",
        id: "last-name",
        name: "last-name"
      }) }}
      
      {{ govukInput({
        label: {
          text: "Email address"
        },
        classes: "govuk-!-width-three-quarters",
        id: "email-address",
        name: "email-address"
      }) }}

      {{ govukSelect({label: {
        text: "Select an Organisation"
      },
        idPrefix: 'organisation-name',
        name: 'organisation-name',
        id: 'organisation-name',
        classes: "govuk-!-width-three-quarters",
        items: [
        {
          value: "red-town-ltd",
          text: "Red Town Ltd"
        },
        {
          value: "blue-sky-ltd",
          text: "Blue Sky Ltd"
        },
        {
          value: "central-housing-ltd",
          text: "Central Housing"
        },
        {
          value: "city-activities-ltd",
          text: "City Activities Limited"
        }]
      }) }}

      {% set subcontractorHtml %}
      {{ govukSelect({
        id: "subcontractor-organisation",
        name: "subcontractor-organisation",
        classes: "govuk-!-width-three-quarters",
        label: {
          text: "Select subcontractor Organisation"
        },
        items: [
          {
            value: "tall-trees-services",
            text: "Tall Trees Services"
          },
          {
            value: "just-windows-limited",
            text: "Just Windows Limited"
          },
          {
            value: "city-training-services",
            text: "City Training Services"
          },
          {
            value: "green-education",
            text: "Green Education"
          }
        ]
      }) }}
      {% endset -%}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "subcontract",
        name: "subcontract",
        fieldset: {
          legend: {
            text: "Is this new user account a sub-contractor?",
            isPageHeading: no          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: subcontractorHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukCheckboxes({
        classes: "govuk-checkboxes--small",
        idPrefix: "role",
        name: "role",
        fieldset: {
          legend: {
            text: "Choose roles",
            isPageHeading: false
          }
        },
        hint: {
          text: "Select all that apply"
        },
        items: [
          {
            value: "normal",
            text: "Normal",
            hint: {
              text: "A description of the role"
            }
          },
          {
            value: "read-only",
            text: "Read only",
            hint: {
              text: "A description of the role"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Create account",
        classes: "govuk-!-margin-right-1",
        href: "PRIGGS"
      }) }}
      
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "create-user-cancel"
      }) }}

    </div>
  </div>

{% endblock %}

