
{% extends "layout-access-to-probation.html" %}

{% block pageTitle %}
  External admin - Account creation cancelled
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Account creation was cancelled
      </h1>

      <p class="govuk-body">
        You have chosen not to create the account.
      </p>
    
      <p class="govuk-body">
        <a href="select-task" class="govuk-link">Continue</a>
      </p>

      </div>
    </div>
  </div>

{% endblock %}
