
{% extends "layout-access-to-probation.html" %}

{% block pageTitle %}
  External admin - Create new user
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Create a new user account
      </h1>

      {{ govukInput({
        label: {
          text: "First name"
        },
        classes: "govuk-!-width-three-quarters",
        id: "first-name",
        name: "first-name"
      }) }}
      
      {{ govukInput({
        label: {
          text: "Last name"
        },
        classes: "govuk-!-width-three-quarters",
        id: "last-name",
        name: "last-name"
      }) }}
      
      {{ govukInput({
        label: {
          text: "Email address"
        },
        classes: "govuk-!-width-three-quarters",
        id: "email-address",
        name: "email-address"
      }) }}

      {{ govukInput({
        label: {
          text: "Telephone number"
        },
        classes: "govuk-input--width-20",
        id: "telephone-number",
        name: "telephone-number"
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "subcontract",
        name: "subcontract",
        fieldset: {
          legend: {
            text: "Is this new user account a sub-contractor?",
            isPageHeading: no          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukCheckboxes({
        classes: "govuk-checkboxes--small",
        idPrefix: "role",
        name: "role",
        fieldset: {
          legend: {
            text: "Choose roles",
            isPageHeading: false
          }
        },
        hint: {
          text: "Select all that apply"
        },
        items: [
          {
            value: "normal",
            text: "Normal"
          },
          {
            value: "read-only",
            text: "Read only"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Create account",
        classes: "govuk-!-margin-right-1",
        href: "create-user-success"
      }) }}
      
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "create-user-cancel"
      }) }}

    </div>
  </div>

{% endblock %}
