
{% extends "layout-access-to-probation.html" %}

{% block pageTitle %}
  External admin - Deactivate account
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "deactivate-account",
        name: "deactivate-account",
        fieldset: {
          legend: {
            text: "Deactivate account?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Deactivating the account will automatically remove access rights for the user."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Confirm",
        classes: "govuk-!-margin-right-1",
        href: "PRIGGS-deactivated"
      }) }}
      
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "PRIGGS"
      }) }}

    </div>
  </div>

{% endblock %}
