
{% extends "layout-access-to-probation.html" %}

{% block pageTitle %}
  External admin - Profile
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Pierce Riggs
      </h1>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row user-enabled-status">
            <td scope="row" class="govuk-table__cell" style="border-bottom: 0;"><strong class="govuk-tag govuk-tag--turquoise" data-qa="enabled">Active account</strong></td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter" style="text-align: right; border-bottom: 0;"><a href="deactivate-account.html" class="govuk-link" data-qa="enable-button">Deactivate account</a></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Account details</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-!-width-one-quarter">Username</td>
            <td class="govuk-table__cell">PRIGGS</td>
            <td class="govuk-table__cell" style="text-align: right;"></td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Email</td>
            <td class="govuk-table__cell">pierce.riggs@greentree.com</td>
            <td class="govuk-table__cell" style="text-align: right;"><a href='change-email' class='govuk-link'>Change email</a></td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Telephone number</td>
            <td class="govuk-table__cell">07770 123456</td>
            <td class="govuk-table__cell" style="text-align: right;"></td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Organisation</td>
            <td class="govuk-table__cell">Green Tree Training Limited</td>
            <td class="govuk-table__cell" style="text-align: right;"></td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Sub-contractor</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell" style="text-align: right;"></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Account status</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Verified</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell" style="text-align: right;"></td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Locked</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell" style="text-align: right;"><a href='unlock-account' class='govuk-link'>Unlock account</a></td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Last logged in</td>
            <td class="govuk-table__cell">23 November 2020 - 13:06:03</td>
            <td class="govuk-table__cell" style="text-align: right;"></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Roles</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Normal</td>
            <td class="govuk-table__cell" style="text-align: right;"><a href='change-role' class='govuk-link'>Change role</a></td>
          </tr>
        </tbody>
      </table>
    
      <p class="govuk-body">
        <a href="select-task" class="govuk-link">Back to task selection</a>
      </p>

    </div>
  </div>

{% endblock %}
