
{% extends "layout-digital-prison-services.html" %}

{% block pageTitle %}
  Home - Digital Prison Services
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-main-wrapper">

<p>ISSUES THAT NEED TIDYING UP HERE</p>

      <div>
        <h1 class="govuk-heading-m">
          Tasks
        </h1>
        <div class="action-links">
          <div class="action-links__link">
            <a href="#" class="action-link">
              <img src="img/global-search.png" alt="Global search icon">Global search
            </a>
          </div>
          <div class="action-links__link">
            <a href="#" class="action-link">
              <img src="/img/ICON_Licences.png" alt="HDC and Licences icon">HDC and Licences
            </a>
          </div>
          <div class="action-links__link">
            <a href="manage-user-accounts/index.html" class="action-link">
              <img src="/img/ICON_AdminUtilities.png" alt="Manage user accounts icon">Manage user accounts
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
