
{% extends "layout-digital-prison-services.html" %}

{% block pageTitle %}
  Home - Digital Prison Services
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  {{ mojBanner({
    type: 'information',
    html: 'Known styling issues and missing "task" icons'
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-m">
        Tasks
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m"><a href="#">Global search</a></h2>
        </div>
    
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m"><a href="#">HDC and Licences</a></h2>
          <p class="govuk-body"></p>
        </div>

        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m"><a href="manage-user-accounts/index.html">Manage user accounts</a></h2>
          <p class="govuk-body"></p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
