
{% extends "layout.html" %}

{% block pageTitle %}
  HMPPS Access to Probation - Start page
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ mojHeader({
    serviceLabel: {
      html: "<strong>HMPPS</strong> Digital Services",
      href: '#'
    },
    navigation: {label: 'Account navigation', items:[
    ]}
  }) }}

{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        LIST OUT KNOWN ISSUES, ALSO INCLUDE SCREENSHOTS WHERE AND WHEN POSSIBLE TOO TO HELP ILLUSTRATE THE ISSUES.
      </p>

      <p class="govuk-body">
        <a href="v1_0-external-admin/index" class="govuk-link">To be journey: External admin</a>
        <br>
        I am an organisation that goes by the name of <strong>Green Tree Training Limited</strong>
      </p>

      <p class="govuk-body">
        <a href="v1_0-hmpps-dps/login" class="govuk-link">HMPPS Digital Services v1.0 - As is journey: Internal admin</a>
      </p>

    </div>
  </div>

{% endblock %}
